#img{
   width: 300px; /* زوّد شوي */
  display: flex; /* لضمان التمركز */
  border-radius:50%; /* إذا بتحب */
  transition: 0.4s ease;
  padding: 0 !important;
      box-shadow: 0 0 25px 0px #00b3ff;

}

body{

  font-family: 'Inter', sans-serif !important;

}
*{
      font-family: 'Inter', sans-serif !important;
 
}

#greet{
    color: #CBD5E1;
    margin-top: 30px;
  font-size: 1rem;
  line-height: 1.6;
 margin-left: 20px;
  max-width: 480px;

}
.fst{
}
.text{  max-width: 520px;
  border-left: 2px solid #00B3FF;
padding-left: 3%;
}

#greett{
    color: #CBD5E1;
 font-size: 1.7rem;
  line-height: 1.3;



}



#btnn{
    background-color: #00b3ff;
}
#cont{
animation: anime 0.8s  linear 1;
margin-top: 95px;
transition: 1s;
}
#top{
margin-top: 70px;
}
#react{
    height: 250px;
    width: 267px;
}
#h1{
 margin-top: 3%;  
}

#h2{
    color: #2B3035;
margin-bottom: 50px;

}
#imagecard{
    animation: anime 1.2s  linear 1;

}
#span{
    color: #00b3ff;
    font-size: 19px;
}
html{
    scroll-behavior: smooth;
}
footer{
    animation: anime 1.2s  linear 1;
}
@keyframes anime {
    from{
transform: translate(100px);
    }
    to{
        transform: translate(0px);

    }
}
*{
    font-family: "Playfair Display", serif;

}
@media screen and (max-width:570px) {
    #co{
        padding-top: 0px;
        
    }
    #ul{
        margin-top: 20px;
    padding-top: 40px;
    justify-content: center !important;
    margin-left: -40px !important;
    display:flex;
    }
    #navv{
        text-align: center;
        font-size: 21px !important;

    }
    #a{
        font-size: 21px !important;

    }
    #span{
        font-size: 15px !important;
    }
    #greet{
        font-size: 15px !important;
    }
.con{
margin-top: 0px !important;
    }
#navv{
    font-size: 22px !important;
    margin-bottom: -16px !important;
    display: none !important;
}
#mm{
    margin-top: -35px !important;
}
.text{
      border-left:0px solid #00B3FF;

}
#img{
    width: 250px;
margin-left: 16%;
margin-bottom: 50px;
}
}

#foimg{
    height: 250px;
    width: 99%;
    border-radius: 20px;
}
#preloader{
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100%;
    top:0;
    background: #010101  url("db7091072edc57ac1ee9ac90a53a1744.gif") no-repeat center;
}

#navv{
padding: 0;
font-size: 28px;
color: white;
    margin-bottom: -60px;
 padding-top:20px ;   
 margin-left: 3%;
}
#ul{
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;

}
#li{
list-style-type: none;
margin-left: 5vw;

}




#a:hover{
    box-shadow: 0 0 20px #00b3ff;
    color: #2b3035;
    background-color: #00b3ff;
    padding: 8px;
    border-radius: 20px;
    transition: 0.4s;
}
#a{
    text-decoration: none;
    font-size: 24px;

color: white;
}
#co{
    animation: anime 1.2s  linear 1;


}
#mm{
}
#btn:hover{
    background: #010101;
color: #00b3ff;
    transition: 0.4s;
}